<div class="row">
  <div class="header">
    <h5>Why did the rooster cross the street</h5>
    <h2>He wanted to prove he WASNT A CHICKEN!</h2>
    <h1>My name is Travis and I'm a Web Developer who tells mediocre jokes</h1>
  </div>
</div>

<div class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>

<div class="row">
  <div id="language">
    <ul class="skills">
      <li>Ruby on Rails</li>
      <li>HTML &amp CSS</li>
      <li>Javascript - jQuery - AJAX</li>
    </ul>
  </div>

  <div id="Database">
    <ul class= "skills">
      <li>PostgreSQL</li>
      <li>SQLite3</li>
      <li>Active Record</li>
    </ul>
  </div>

  <div id="experience-with">
    <ul>
      <li>MVC</li>
      <li>Bootstrap</li>
      <li>API JSON</li>
      <li>Heroku</li>
    </ul>
  </div>
</div>

<div class="row">
  <h3 id="portfolio-header">Portfolio</h3>
</div>
