<div class="row">
  <div class="header">
    <h5>Why did the rooster cross the street</h5>
    <h2>He wanted to prove he WASNT A CHICKEN!</h2>
    <h1>My name is Travis and I'm a Web Developer who tells mediocre jokes</h1>
  </div>
</div>

<div class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>

<div class="row">
  <div id="language">
    <ul class="skills">
      <li>Ruby on Rails</li>
      <li>HTML &amp CSS</li>
      <li>Javascript - jQuery - AJAX</li>
    </ul>
  </div>

  <div id="Database">
    <ul class= "skills">
      <li>PostgreSQL</li>
      <li>SQLite3</li>
      <li>Active Record</li>
    </ul>
  </div>

  <div id="experience-with">
    <ul>
      <li>MVC</li>
      <li>Bootstrap</li>
      <li>API JSON</li>
      <li>Heroku</li>
    </ul>
  </div>
</div>

  <h3 id="portfolio-header">Portfolio</h3>
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag ('suacepan.png') %>
        <div class="caption">
        <h3>Saucepan</h3>
          <p>Saucepan is an app me and a few others worked on for a hackathon.  Saucepan allows a speaker/presenter to leave a prompt on their profile and have their audience leave feedback according to their prompt</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
        <h3>Show Me The Gym</h3>
          <p>A nice and simple way to find a gym near you within an 8 mile radius of the location the user inputs.</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
        <h3>NOTEaBILL</h3>
          <p>Hate late fees all becuase you forgot aimlessly that your bill was due?  Dont worry I built an App to help prevent that awefule life altering event from happening!</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
</div>

